* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    border: none;
}



button
{
    cursor: pointer;
}

a 
{
    cursor: pointer;
}


/*HEADER*/
header
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 28px 15px;
    

    font-family: "open sans";
    font-weight: 700;
}

    /* text we love dogs*/
    header p
    {
        font-size: 48px;
        color: #000000;
    }

    /* span do p - love*/
    header span 
    {   
        color: #7ED321;
    }

    /*nav: qm somos, blog*/
    header nav
    {       

        display: flex;
        align-items: center;
        gap: 35px;  
        
        font-size: 16px; 
    }

    header nav a
    {
        color: black;
    }

    /*nav: button-inscrever*/
    header button
    {
        font-family: "open sans";
        font-weight: 700;
        font-size: 16px;
        color: ;

        background-color: rgba(126, 211, 33, 0.4);
        padding: 9px 32px;
        border-radius: 15px;
    }

    header .marcado
    {
        background-color: #7ED321;
    }
    
    

/*HOMEPAGE*/
main
{
 display: flex;
 margin-top: 30px;
 justify-content: center;
 align-items: center;

 font-family: "open sans";
 font-weight: 700;
 font-size: 48px;
}

    main div
    {
      width: 371px;

    }


    main button
    {
        font-family: "open sans";
        font-weight: 700;
        font-size: 16px;
        color: #1C4701;

        background-color: #7ED321;
        padding: 13px 55px;
        border-radius: 15px;
    }



/*QUEM SOMOS*/
    main-2 .centralizado
    {
        font-family: "open sans";
        text-align: center;
    }


    main-2 .titulo
    {
        font-family: "open sans";
        font-weight: 700;
        font-size: 48px;

        padding-top: 30px;   
    }


    main-2 .texto
    {
        font-family: "open sans";
        font-weight: 400;
        font-size: 16px;

        padding-top: 14px;
        padding-bottom: 14px;
        margin-right: 30%;
        margin-left: 30%;
        text-align: justify;
    }

/*BLOG*/

main-blog .centralizado
{
    font-family: "open sans";
    text-align: center;
}

    
    main-blog .titulo
    {
        font-size: 48px;
        font-weight: 700;
        color: black;

    }

    main-blog .flex
    {
        display: flex;
        margin-left: 10%;
        margin-right: 12%;

    }

    main-blog .img-post
    {
        justify-content: right;
        margin-right: 50px;
        margin-top: 50px;

    }

    main-blog .post
    {
        margin-top: 50px;

    }

    main-blog .minititle
    {
        font-size: 32px;
        font-weight: 700;
        color: black;
        text-align: left;
        margin-bottom: 23px;
        
    }

    main-blog .textblog
    {
        font-size: 16px;
        font-weight: 400;
        color: black;
        text-align: justify;
    
    }

    /*INSCRIÇÃO*/

    main-insc .page
    {
        font-family: "open sans";
        color: black;
        text-align: center;
    }

    main-insc .title
    {
        font-size: 48px;
        font-weight: 700;
        padding-bottom: 37px;
    }

    main-insc .body
    {
        display: flex;
        justify-content: center;
    }



    main-insc .inputonly
    {
        font-size: 18px;
        font-weight: 700;
        text-align: right;
        
           
    }

    main-insc label 
    {
        width: 124px ;
        padding-right: 14px;
        text-align: center;

    }

    main-insc .intitlebig
    {
        padding-right: 14px;
        text-align: center;
    }

    main-insc .inputbox
    {
        display: flex;
        padding-bottom: 20px;
        
    }

    main-insc .inputbox ::placeholder 
    {

        font-family: 'open sans', Arial, Helvetica, sans-serif;
    }

    main-insc .input-message
    {

        padding-bottom: 20px;
    }




    main-insc input
    {
        border: 1px solid #9f9f9f;
        border-radius: 7px;
        background: #FFFFFF;
        height: 43px;
        width: 430px;
        padding-left: 10px;
    }



    main-insc textarea
    {
        height: 160px;
        width: 419px;
        resize: none;
        border: 1px solid #9f9f9f;
        border-radius: 7px;
        padding: 10px 10px;
        background: #FFFFFF;
    }


       

    main-insc .testlabel
    {   
        text-align: left;
        
    }

    main-insc .final
    {
        text-align: right;
        
    }

    main-insc .finish
    {
        font-family: "open sans";
        font-weight: 700;
        font-size: 16px;
        color: #1C4701;
        
        background-color: #7ED321;
        padding: 9px 32px;
        border: none;
        border-radius: 10px;
        height: 42px;
        width: 141px;

        cursor: pointer;

    }





















