*
{
    margin: 0;
    padding: 0;
    text-decoration: none;
    
}



#navIcon:before, #navIcon:after {
    border: none;
    box-shadow:none;
  }

.navfonta
{
    font-family: "Poppins";
    color: #000C2D!important;
}

.navfontb
{
    font-family: "Poppins";
    color:#2F70FE;
    border-color: #2F70FE;

}

.hidden-menu
{
    margin-top: 9rem;
    margin-bottom: 9rem;

}

.div1
{
    font-family: "Poppins";
    background-color: #2F70FE;
}

.div2
{
    font-family: "Poppins";
    background-color: #00FF8514;
    color: #000C2D;

}

div1b
{
    font-family: "Raleway";
    padding-top: 2rem!important;
}

.divs
{
    font-family: "Poppins";
}

.divf
{
    font-family: "Poppins";
}

.titledivs
{
    font-size: 1.75rem;
    line-height: 2.2rem;
    color: #181818;
}

.divs button 
{
    color: #2F70FE;
}

.diff
{
    max-width: 10rem;
}

.tamfon /*ARRUMAR*/
{
    font-size: 40px;
}

.textdiv
{
    width: 30%;
}

.menu-btn {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    cursor: pointer;
    transition: all .5s ease-in-out;
    border: 3px solid #fff; 
  }

  .menu-btn__burger {
    width: 2.85rem;
    height: 0.15rem;
    background: black;
    border-radius: 5px;
   
    transition: all .2s ease-in-out;
  }

  .menu-btn__burger::before,
  .menu-btn__burger::after {
    content: '';
    position: absolute;
    width: 2.85rem;
    height: 0.15rem;
    background: black;
    border-radius: 5px;
   
    transition: all .2s ease-in-out;
  }

  .menu-btn__burger::before 
  {
    transform: translateY(-16px);
  }

  .menu-btn__burger::after 
  {
    transform: translateY(16px);
  }

  /*animation*/
  .menu-btn.open .menu-btn__burger {
    transform: translateX(-50px);
    background: transparent;
    box-shadow: none;
  }
  .menu-btn.open .menu-btn__burger::before {
    transform: rotate(45deg) translate(35px, -35px);
  }
  .menu-btn.open .menu-btn__burger::after {
    transform: rotate(-45deg) translate(35px, 35px);
  }

