*
{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: "poppins";

}
button
{
    cursor: pointer;
}

.inicio
{
    background-color: #965A1B;
}

.site
{
    background-color: #E5CF94;
    
}

.cards
{
    background-color: white;
    margin: 1.25rem;
}

.card2
{
    background-color: #5F3305;
    margin: 1.25rem;
    
}

.fila
{
    color: #5F3305;
    margin-left: 1.25rem;
    margin-right: 1.25rem;
}

.fila-card
{
    background-color: white;
}

.modal
{
    max-width: 605px;
    width: 90%;
}

.modal-overlay
{
    
    background-color: #E5CF9480;
    top: 0;
    opacity: 0;
    visibility: hidden;
}

.modal-overlay.active
{
    opacity: 1;
    visibility: visible;
}

.button1
{
    background-color: #5F3305;
}

.button2
{
    color: #DB1E1E;
    border-color: #DB1E1E;
}

input
{
    background-color: #F5F5F5;
    
}

.modal-title
{
    color: #5F3305;
}

.modal-content
{
    width: 90%;
}

.card-font
{
    font-size: 12px;
    white-space: nowrap;
}

.botao-plus
{
    color: #5F3305;
}
