.form-section
{
    background-color: #E5E5E5;
    margin-left: 10rem;
    margin-right: 10rem;
    min-height: auto;
    
}

.only-form
{
    font-family: Roboto;
    padding-left: 1rem;
    padding-right: 1rem;
}


body {
    background: url('/images/bg.png') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  

.title
{
    font-family: Scope One;
}

.inputs
{
    background-color: #FBFCFDF0;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-right: 1.25rem;
    margin-left: 1.25rem;
    padding: 1rem;

    border-radius: 10px;
 
}
.text-input
{
    background-color: #FBFCFDF0;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-right: 1.25rem;
    margin-left: 1.25rem;

    padding-bottom: 9rem;

    border-radius: 10px;
 
}

.form-button
{
    background-color: #FBFCFDA6;
    max-width: 200px;
    align-self: center;
    padding: 1rem!important;
    
}

.text-int
{
    margin-top: -4.8rem;
    align-self: center;
}

.img-form
{
    min-height: 100%!important;
    max-width: none;
    
}



